In [9]:
# 获取股票价格
# https://www.jianshu.com/p/799027dd979a
import pandas_datareader.data as web
import datetime
import pandas as pd

In [14]:
start = datetime.datetime(2019,6,1)
end = datetime.date.today()
prices = web.DataReader('AAPL','yahoo',start,end)

In [15]:
prices.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-06-08,333.600006,327.320007,330.250000,333.459991,23913600.0,333.459991
2020-06-09,345.609985,332.010010,332.140015,343.989990,36928100.0,343.989990
2020-06-10,354.769989,346.089996,347.899994,352.839996,41662900.0,352.839996
2020-06-11,351.059998,335.480011,349.309998,335.899994,50273700.0,335.899994
2020-06-12,347.799988,335.598206,344.720001,339.200012,16059821.0,339.200012

In [16]:
# 获取股利或股票分割等数据
actions = web.DataReader('AAPL','yahoo-actions',start,end)
actions.tail()

              action  value
2020-05-08  DIVIDEND   0.82
2020-02-07  DIVIDEND   0.77
2019-11-07  DIVIDEND   0.77
2019-08-09  DIVIDEND   0.77

In [29]:
new = pd.merge(prices,actions,how='outer',left_index=True,right_index=True) # how='inner,返回共同存在
new.tail()

,High,Low,Open,Close,Volume,Adj Close,action_x,value_x,action_y,value_y
2020-06-08,333.600006,327.320007,330.250000,333.459991,23913600.0,333.459991,NaN,NaN,NaN,NaN
2020-06-09,345.609985,332.010010,332.140015,343.989990,36928100.0,343.989990,NaN,NaN,NaN,NaN
2020-06-10,354.769989,346.089996,347.899994,352.839996,41662900.0,352.839996,NaN,NaN,NaN,NaN
2020-06-11,351.059998,335.480011,349.309998,335.899994,50273700.0,335.899994,NaN,NaN,NaN,NaN
2020-06-12,347.799988,335.598206,344.720001,339.200012,16059821.0,339.200012,NaN,NaN,NaN,NaN

In [28]:
prices['action'],prices['value'] = actions.action, actions.value
prices.head()

,High,Low,Open,Close,Volume,Adj Close,action,value
Date,,,,,,,,
2019-05-31,177.990005,174.990005,176.229996,175.070007,27043600.0,173.005280,NaN,NaN
2019-06-03,177.919998,170.270004,175.600006,173.300003,40396100.0,171.256134,NaN,NaN
2019-06-04,179.830002,174.520004,175.440002,179.639999,30968000.0,177.521378,NaN,NaN
2019-06-05,184.990005,181.139999,184.279999,182.539993,29773400.0,180.387146,NaN,NaN
2019-06-06,185.470001,182.149994,183.080002,185.220001,22526300.0,183.035568,NaN,NaN