In [86]:
import pandas as pd
import numpy as np
import os
import time

os.chdir('/Users/joey/Documents/PycharmProjects/mywork/covid2019/')

In [67]:
raw_data = pd.read_csv('/Users/joey/Desktop/superset csv/DXYArea.csv',
                   usecols=['continentName','countryName','province_zipCode','province_confirmedCount',
                            'province_curedCount','province_deadCount','updateTime','cityName'])
raw_data.head()

,continentName,countryName,province_zipCode,province_confirmedCount,province_curedCount,province_deadCount,updateTime,cityName
0,北美洲,美国,971002,1698581,391508,100276,2020-05-28 10:01:59,NaN
1,欧洲,英国,961007,267240,539,37460,2020-05-28 10:01:59,NaN
2,欧洲,俄罗斯,964006,370680,142208,3968,2020-05-28 10:01:59,NaN
3,南美洲,巴西,973003,411821,166647,25598,2020-05-28 10:01:59,NaN
4,亚洲,印度,953003,151767,64426,4337,2020-05-28 10:01:59,NaN

In [68]:
# raw_data[raw_data.loc[:,'cityName'].isnull()] # 第二种方法
raw_data = raw_data[raw_data.loc[:,'cityName'].isnull()]
raw_data.head()

,continentName,countryName,province_zipCode,province_confirmedCount,province_curedCount,province_deadCount,updateTime,cityName
0,北美洲,美国,971002,1698581,391508,100276,2020-05-28 10:01:59,NaN
1,欧洲,英国,961007,267240,539,37460,2020-05-28 10:01:59,NaN
2,欧洲,俄罗斯,964006,370680,142208,3968,2020-05-28 10:01:59,NaN
3,南美洲,巴西,973003,411821,166647,25598,2020-05-28 10:01:59,NaN
4,亚洲,印度,953003,151767,64426,4337,2020-05-28 10:01:59,NaN

In [69]:
raw_data.set_index('updateTime',drop=True,inplace=True)
raw_data.head()

,continentName,countryName,province_zipCode,province_confirmedCount,province_curedCount,province_deadCount,cityName
updateTime,,,,,,,
2020-05-28 10:01:59,北美洲,美国,971002,1698581,391508,100276,NaN
2020-05-28 10:01:59,欧洲,英国,961007,267240,539,37460,NaN
2020-05-28 10:01:59,欧洲,俄罗斯,964006,370680,142208,3968,NaN
2020-05-28 10:01:59,南美洲,巴西,973003,411821,166647,25598,NaN
2020-05-28 10:01:59,亚洲,印度,953003,151767,64426,4337,NaN

In [70]:
raw_data_index = pd.to_datetime(raw_data.index)
raw_data_index = raw_data_index.to_period('D')
raw_data_index

PeriodIndex(['2020-05-28', '2020-05-28', '2020-05-28', '2020-05-28',
             '2020-05-28', '2020-05-28', '2020-05-28', '2020-05-28',
             '2020-05-28', '2020-05-28',
             ...
             '2020-01-22', '2020-01-22', '2020-01-22', '2020-01-22',
             '2020-01-22', '2020-01-22', '2020-01-22', '2020-01-22',
             '2020-01-22', '2020-01-22'],
            dtype='period[D]', name='updateTime', length=98413, freq='D')

In [79]:
raw_data.index = raw_data_index
raw_data.head()

,continentName,countryName,province_zipCode,province_confirmedCount,province_curedCount,province_deadCount,cityName
updateTime,,,,,,,
2020-05-28,北美洲,美国,971002,1698581,391508,100276,NaN
2020-05-28,欧洲,英国,961007,267240,539,37460,NaN
2020-05-28,欧洲,俄罗斯,964006,370680,142208,3968,NaN
2020-05-28,南美洲,巴西,973003,411821,166647,25598,NaN
2020-05-28,亚洲,印度,953003,151767,64426,4337,NaN

In [88]:
data = raw_data

In [89]:
# 获取洲列表
continentName = data['continentName'].unique()
continentName

array(['北美洲', '欧洲', '南美洲', '亚洲', '非洲', '大洋洲', '其他', nan], dtype=object)

In [90]:
# 获去国家列表
countryName = data['countryName'].unique()
countryName

array(['美国', '英国', '俄罗斯', '巴西', '印度', '秘鲁', '西班牙', '意大利', '法国', '智利',
       '巴基斯坦', '荷兰', '卡塔尔', '加拿大', '比利时', '土耳其', '孟加拉国', '沙特阿拉伯', '瑞典',
       '伊朗', '白俄罗斯', '哥伦比亚', '新加坡', '印度尼西亚', '科威特', '墨西哥', '多米尼加', '乌克兰',
       '南非', '阿富汗', '菲律宾', '巴拿马', '阿根廷', '德国', '玻利维亚', '阿曼', '尼日利亚',
       '罗马尼亚', '塞尔维亚', '哈萨克斯坦', '加纳', '巴林', '亚美尼亚', '日本', '洪都拉斯', '危地马拉',
       '摩尔多瓦', '苏丹', '喀麦隆', '波多黎各', '阿尔及利亚', '摩洛哥', '捷克', '刚果（金）', '爱尔兰',
       '萨尔瓦多', '塔吉克斯坦', '以色列', '加蓬', '塞内加尔', '阿塞拜疆', '马约特', '保加利亚', '芬兰',
       '匈牙利', '马来西亚', '古巴', '丹麦', '马尔代夫', '希腊', '科特迪瓦', '委内瑞拉', '几内亚比绍',
       '海地', '肯尼亚', '哥斯达黎加', '奥地利', '南苏丹', '尼泊尔', '韩国', '斯里兰卡', '乌兹别克斯坦',
       '巴拉圭', '波黑', '乍得', '拉脱维亚', '牙买加', '立陶宛', '吉尔吉斯斯坦', '塞拉利昂', '爱沙尼亚',
       '澳大利亚', '留尼旺', '北马其顿', '黎巴嫩', '马里', '刚果（布）', '塞浦路斯', '法属圭亚那',
       '佛得角', '阿尔巴尼亚', '乌干达', '泽西岛', '赞比亚共和国', '多哥', '毛里塔尼亚', '约旦',
       '斯威士兰', '格鲁吉亚', '也门共和国', '斯洛伐克', '莫桑比克', '乌拉圭', '卢旺达', '关岛', '挪威',
       '尼日尔', '利比里亚', '布基纳法索', '开曼群岛', '蒙古', '克罗地亚', '圭亚那', '卢森堡', '叙利亚',
       '泰国', '越南', '安哥拉', '利比亚', '圣马丁岛', '格林那达', '库拉索岛', '埃及', '中国',
       '阿联酋', '葡萄牙', '波兰', '吉布提', '瑞士', '赤道几内亚', '圣多美和普林西比', '坦桑尼亚',
       '马恩岛', '尼加拉瓜', '安道尔', '根西岛', '马提尼克', '瓜德罗普岛', '钻石公主号邮轮', '百慕大',
       '特立尼达和多巴哥', '阿鲁巴', '缅甸', '巴哈马', '突尼斯', '斯洛文尼亚', '冰岛', '毛里求斯', '黑山',
       '厄瓜多尔', '伊拉克', '索马里', '中非共和国', '圣马力诺', '埃塞俄比亚', '贝宁', '巴勒斯坦',
       '马耳他', '直布罗陀', '马拉维', '文莱', '新西兰', '几内亚', '马达加斯加', '法罗群岛', '格陵兰',
       '荷兰加勒比地区', '柬埔寨', '巴巴多斯', '科摩罗', '博茨瓦纳', '不丹', '纳米比亚', '津巴布韦',
       '法属波利尼西亚', '冈比亚', '北马里亚纳群岛联邦', '圣文森特和格林纳丁斯', '苏里南', '莱索托',
       '布隆迪共和国', '英属维尔京群岛', '厄立特里亚', '荷属圣马丁', '美属维尔京群岛', '列支敦士登',
       '安提瓜和巴布达', '圣卢西亚', '福克兰群岛', '梵蒂冈', '特克斯和凯科斯群岛', '蒙特塞拉特', '土库曼斯坦',
       '东帝汶', '摩纳哥', '老挝', '斐济', '新喀里多尼亚', '伯利兹', '多米尼克', '圣其茨和尼维斯',
       '塞舌尔', '巴布亚新几内亚', '圣巴泰勒米岛', '安圭拉', '圣皮埃尔和密克隆群岛', '科索沃', '圣巴泰勒米',
       '留尼汪', '至尊公主邮轮', '大不列颠及北爱尔兰联合王国', '英国（含北爱尔兰）', '北爱尔兰'],
      dtype=object)

In [91]:
# 获取最大、最小日期
max = data.index.max()
min = data.index.min()
max, min

(Period('2020-05-28', 'D'), Period('2020-01-22', 'D'))

In [92]:
# 匹配【洲-国】，并填充缺失日期的数据
start = time.perf_counter()
add_datalist = []
idx = pd.period_range(min,max,freq='D')
for i in range(len(continentName)):
    for j in range(len(countryName)):
        # if data.loc[:,'cityName'] == cityname[i]:
        #         if data.loc[:,'provinceName'] == provincename[j]:
                    # if (data['cityName'] == cityname[i]) and (data['provinceName'] == provincename[j]):
        fixdata =data[(data.loc[:,'countryName'] == countryName[j]) & (data.loc[:,'continentName'] == continentName[i])]
        if not fixdata.empty:
            fixdata['time'] = fixdata.index
            second_fixdata = fixdata.drop_duplicates(subset='time',keep='first')
            third_fixdata = pd.DataFrame(data=second_fixdata,index=idx)
            final_fixdata = third_fixdata.fillna(method='ffill').fillna(method='bfill')
            add_datalist.append(final_fixdata)
        # add_datalist.append(second_fixdata.resample('D',axis=0).pad())
print(f'{time.perf_counter()-start}')

/Users/joey/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

24.367605111001467

In [93]:
finaldata = pd.concat(add_datalist)

In [94]:
finaldata = finaldata.drop(axis=1,columns=['time'])
finaldata['updateTime'] = finaldata.index
finaldata.to_csv('/Users/joey/Desktop/superset csv/DXYArea_global.csv')