In [34]:
%matplotlib inline
import pandas as pd
import numpy as np
import os
from matplotlib.pylab import mpl
from openpyxl import load_workbook
from openpyxl.chart import BarChart,Reference

mpl.rcParams['font.sans-serif'] = ['Arial Unicode MS'] # 指定默认字体
mpl.rcParams['axes.unicode_minus'] = False # 解决保存图像是负号'-'显示为方块的问题

In [35]:
%pwd
os.chdir('/Users/joey/Documents/PycharmProjects/mywork/data_analysis')
%pwd

'/Users/joey/Documents/PycharmProjects/mywork/data_analysis'

In [36]:
filename = '/Users/joey/Documents/PycharmProjects/mywork/data_analysis/shift/Book2.xlsx'

In [37]:
df = pd.read_excel(filename,header=0)
df.head()

,company_id,company_name,department_id,department_name,上线日期,应排班人数,已排班人数,日期,排班率
0,3600,A01东莞东部管理中心,36000010,Q东莞苏豪名苑,6/1/2017,17.0,9.0,7/1/2019,52.9412
1,3600,A01东莞东部管理中心,36000010,Q东莞苏豪名苑,6/1/2017,17.0,9.0,7/2/2019,52.9412
2,3600,A01东莞东部管理中心,36000010,Q东莞苏豪名苑,6/1/2017,17.0,9.0,7/3/2019,52.9412
3,3600,A01东莞东部管理中心,36000010,Q东莞苏豪名苑,6/1/2017,17.0,9.0,7/4/2019,52.9412
4,3600,A01东莞东部管理中心,36000010,Q东莞苏豪名苑,6/1/2017,17.0,9.0,7/5/2019,52.9412

In [38]:
shift_pivot = df.pivot_table(values=['应排班人数','已排班人数'],index='company_name',aggfunc='sum')
shift_pivot.head()

               已排班人数    应排班人数
company_name
A01东莞东部管理中心   3110.0   5831.0
A02阵地经营体      7286.0  11004.0
A03阵地经营体      2538.0   6909.0
A04深圳西部管理中心   2238.0   4958.0
A05阵地经营体      3158.0   6146.0

In [39]:
shift_pivot['排班率'] = (shift_pivot['已排班人数'] / shift_pivot['应排班人数']).apply(lambda x: '%.2f%%' % (x*100))
shift_pivot.head()

               已排班人数    应排班人数     排班率
company_name
A01东莞东部管理中心   3110.0   5831.0  53.34%
A02阵地经营体      7286.0  11004.0  66.21%
A03阵地经营体      2538.0   6909.0  36.73%
A04深圳西部管理中心   2238.0   4958.0  45.14%
A05阵地经营体      3158.0   6146.0  51.38%

In [40]:
df.dtypes

company_id           int64
company_name        object
department_id        int64
department_name     object
上线日期                object
应排班人数              float64
已排班人数              float64
日期                  object
排班率                float64
dtype: object

In [41]:
df['日期'].head()

0    7/1/2019
1    7/2/2019
2    7/3/2019
3    7/4/2019
4    7/5/2019
Name: 日期, dtype: object

In [50]:
maxdate = pd.to_datetime(df['日期']).max().strftime('%Y%m%d')
mindate = pd.to_datetime(df['日期']).min().strftime('%Y%m%d')
filename = '/Users/joey/Documents/PycharmProjects/mywork/data_analysis/shift/' +mindate +'_'+maxdate+'.xlsx'
filename

'/Users/joey/Documents/PycharmProjects/mywork/data_analysis/shift/20190701_20190707.xlsx'

In [51]:
write = pd.ExcelWriter(filename)
shift_pivot.to_excel(write,sheet_name='1')
write.save()