In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a   -0.088046
b    1.687586
c   -1.089411
d   -0.454270
e    1.671553
dtype: float64

In [3]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [4]:
d = {'a':0.,'b':1.}
s = pd.Series(d,index=list('abce'))
s

a    0.0
b    1.0
c    NaN
e    NaN
dtype: float64

In [5]:
pd.Series(5,index=list('abcd'))

a    5
b    5
c    5
d    5
dtype: int64

In [6]:
print("abc {values}".format(values= ['aaa', 'bbb']))

abc ['aaa', 'bbb']

In [7]:
s = pd.Series(np.random.randn(5))
s

0   -1.198152
1   -2.079635
2   -0.028312
3   -0.975079
4    0.289128
dtype: float64

In [8]:
# 索引值
# s[0]
# s[1:3]
s[[1,3,4]]

1   -2.079635
3   -0.975079
4    0.289128
dtype: float64

In [9]:
np.exp(s)

0    0.301751
1    0.124976
2    0.972085
3    0.377162
4    1.335263
dtype: float64

In [10]:
np.sin(s)

0   -0.931368
1   -0.873311
2   -0.028308
3   -0.827746
4    0.285117
dtype: float64

In [11]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a   -1.231458
b    0.915244
c    0.736468
d   -1.492824
e   -0.260045
dtype: float64

In [12]:
s['a']
s['e'] = 5
s

a   -1.231458
b    0.915244
c    0.736468
d   -1.492824
e    5.000000
dtype: float64

In [13]:
s['g'] = 100
s

a     -1.231458
b      0.915244
c      0.736468
d     -1.492824
e      5.000000
g    100.000000
dtype: float64

In [14]:
'e' in s

True

In [15]:
print(s.get('a'))
print(s.get('gg',np.nan))

-1.2314582588723662
nan

In [16]:
s1 = pd.Series(np.random.randn(3), index=['a', 'c', 'e'])
s2 = pd.Series(np.random.randn(3), index=['a', 'd', 'e'])
print('{1}\n\n{0}'.format(s1,s2))

a    0.734645
d    2.620956
e   -0.088575
dtype: float64

a   -0.252467
c   -0.760080
e    0.564388
dtype: float64

In [17]:
s1 +s1

a   -0.504935
c   -1.520160
e    1.128777
dtype: float64

In [18]:
# name属性
s = pd.Series(np.random.randn(5), name='Some Thing')
s

0   -0.983287
1   -0.498444
2    0.013748
3   -1.054802
4   -0.069690
Name: Some Thing, dtype: float64

In [19]:
s.name

'Some Thing'

# DataFrame

In [20]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
print(type(d))
pd.DataFrame(d)

<class 'dict'>

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [21]:
pd.DataFrame(d,index=['d','b','a'])

   one  two
d  NaN    4
b  2.0    2
a  1.0    1

In [22]:
pd.DataFrame(d,index=['d','b','a'],columns=['two','three'])

   two three
d    4   NaN
b    2   NaN
a    1   NaN

In [23]:
d = {'one':[1,2,3,4],
     'two':[22,33,4,5]}
pd.DataFrame(d)

pd.DataFrame(d,index=['a','b','c','d'])

   one  two
a    1   22
b    2   33
c    3    4
d    4    5

In [24]:
data = [(2,'a'),(34,'b')]
# pd.DataFrame(data)
pd.DataFrame(data,index=['first','two'],columns=['A','B'])

        A  B
first   2  a
two    34  b

In [25]:
# 包装后输入list
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
pd.DataFrame(data)
pd.DataFrame(data, index=['first', 'second'])
pd.DataFrame(data, columns=['a', 'b'])

   a   b
0  1   2
1  5  10

In [26]:
d = {('a', 'b'): {('A', 'B'): 1, ('A', 'C'): 2},
     ('a', 'a'): {('A', 'C'): 3, ('A', 'B'): 4},
     ('a', 'c'): {('A', 'B'): 5, ('A', 'C'): 6},
     ('b', 'a'): {('A', 'C'): 7, ('A', 'B'): 8},
     ('b', 'b'): {('A', 'D'): 9, ('A', 'B'): 10}}
pd.DataFrame(d)

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

## 从Series创建

In [27]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'])
pd.DataFrame(s,index=['a', 'c', 'd'])
pd.DataFrame(s,index=['a', 'c', 'd'],columns=['A'])

          A
a -0.678851
c  1.249038
d  1.165293

# 列选择/增加/删除

In [28]:
df = pd.DataFrame(np.random.randn(6, 4), columns=['one', 'two', 'three', 'four'])
df

        one       two     three      four
0  1.527169 -0.885098  1.051836  0.715393
1 -0.099573 -0.417929 -0.724062  1.235151
2  2.013602  0.539670  1.020744 -1.281166
3  0.601021  0.297628 -0.451809  0.054916
4  1.503907  0.348318  0.407566  0.624712
5  1.007180 -0.278039  0.818277  0.318731

In [29]:
df['one']

0    1.527169
1   -0.099573
2    2.013602
3    0.601021
4    1.503907
5    1.007180
Name: one, dtype: float64

In [30]:
df['three'] = df['one'] + df['two']
df

        one       two     three      four
0  1.527169 -0.885098  0.642071  0.715393
1 -0.099573 -0.417929 -0.517502  1.235151
2  2.013602  0.539670  2.553272 -1.281166
3  0.601021  0.297628  0.898649  0.054916
4  1.503907  0.348318  1.852225  0.624712
5  1.007180 -0.278039  0.729141  0.318731

In [31]:
df['flag'] = df['one'] > 0
df

        one       two     three      four   flag
0  1.527169 -0.885098  0.642071  0.715393   True
1 -0.099573 -0.417929 -0.517502  1.235151  False
2  2.013602  0.539670  2.553272 -1.281166   True
3  0.601021  0.297628  0.898649  0.054916   True
4  1.503907  0.348318  1.852225  0.624712   True
5  1.007180 -0.278039  0.729141  0.318731   True

In [32]:
del df['three']
df

        one       two      four   flag
0  1.527169 -0.885098  0.715393   True
1 -0.099573 -0.417929  1.235151  False
2  2.013602  0.539670 -1.281166   True
3  0.601021  0.297628  0.054916   True
4  1.503907  0.348318  0.624712   True
5  1.007180 -0.278039  0.318731   True

In [33]:
four = df.pop('four')
four

0    0.715393
1    1.235151
2   -1.281166
3    0.054916
4    0.624712
5    0.318731
Name: four, dtype: float64

In [34]:
df['one_trunc'] = df['one'][:2]
df

        one       two   flag  one_trunc
0  1.527169 -0.885098   True   1.527169
1 -0.099573 -0.417929  False  -0.099573
2  2.013602  0.539670   True        NaN
3  0.601021  0.297628   True        NaN
4  1.503907  0.348318   True        NaN
5  1.007180 -0.278039   True        NaN

In [35]:
# 指定插入位置
df.insert(1,'bar',df['one'])

# 使用 assign() 方法来插入新列

In [36]:
df = pd.DataFrame(np.random.randint(1,5,(6,4)),columns=list('ABCD'))
df

   A  B  C  D
0  1  1  1  1
1  4  2  1  1
2  1  3  3  1
3  1  1  2  1
4  1  4  1  4
5  2  3  2  4

In [37]:
df.assign(Ratio=df['A']/df['B'])

   A  B  C  D     Ratio
0  1  1  1  1  1.000000
1  4  2  1  1  2.000000
2  1  3  3  1  0.333333
3  1  1  2  1  1.000000
4  1  4  1  4  0.250000
5  2  3  2  4  0.666667

In [38]:
df.assign(AB_Ratio = lambda x:x.A/x.B, CD_Ratio = lambda x:x.C-x.D)

   A  B  C  D  AB_Ratio  CD_Ratio
0  1  1  1  1  1.000000         0
1  4  2  1  1  2.000000         0
2  1  3  3  1  0.333333         2
3  1  1  2  1  1.000000         1
4  1  4  1  4  0.250000        -3
5  2  3  2  4  0.666667        -2

In [39]:
df.assign(AB_Ratio = lambda x: x.A / x.B).assign(ABD_Ratio = lambda x: x.AB_Ratio * x.D)

   A  B  C  D  AB_Ratio  ABD_Ratio
0  1  1  1  1  1.000000   1.000000
1  4  2  1  1  2.000000   2.000000
2  1  3  3  1  0.333333   0.333333
3  1  1  2  1  1.000000   1.000000
4  1  4  1  4  0.250000   1.000000
5  2  3  2  4  0.666667   2.666667

# 索引和选择

- 选择一列 df[col] -->Series
- 根据行标签选择一行 ->df.loc[lable] ->Series
- 根据行位置选择一行 ->df.iloc[lable] ->Series
- 选择多行 -> df[5:10] ->DataFrame
- 根据布尔向量选择多行 -> df[bool_vector] -> DataFrame

In [40]:
df = pd.DataFrame(np.random.randint(1,10,(6,4)),index=list('abcdef'),columns=list('ABCD'))
df

   A  B  C  D
a  2  8  9  2
b  7  5  8  5
c  7  2  2  9
d  4  9  3  2
e  5  2  4  8
f  6  8  5  6

In [41]:
df['A']

a    2
b    7
c    7
d    4
e    5
f    6
Name: A, dtype: int64

In [42]:
df.loc['a']

A    2
B    8
C    9
D    2
Name: a, dtype: int64

In [43]:
df.iloc[0]

A    2
B    8
C    9
D    2
Name: a, dtype: int64

In [44]:
df[1:4]

   A  B  C  D
b  7  5  8  5
c  7  2  2  9
d  4  9  3  2

In [45]:
df[[False,True,False,True,True,False]]

   A  B  C  D
b  7  5  8  5
d  4  9  3  2
e  5  2  4  8

# 数据对齐
DataFrame 在进行数据计算时，会自动按行和列进行数据对齐。最终的计算结果会合并两个 DataFrame。

In [46]:
df1 = pd.DataFrame(np.random.randn(10, 4), index=list('abcdefghij'), columns=['A', 'B', 'C', 'D'])
df1

          A         B         C         D
a  0.025223 -1.045444 -0.417773  0.371423
b  0.850921  0.394350 -0.413675 -0.025602
c  2.675517 -1.806428  0.471473  0.419389
d  1.021910  0.082197 -0.099722 -1.769934
e -0.271311  0.175311  0.444270  0.928480
f -0.011409 -0.305372  0.737511 -1.509894
g  0.979489  0.800915 -0.839026 -1.876445
h -0.726175 -0.481371 -2.622468 -1.059625
i -2.555670 -0.491765  0.228877 -1.379855
j  0.210447 -0.337041  0.678297  1.289777

In [47]:
df2 = pd.DataFrame(np.random.randn(7, 3), index=list('cdefghi'), columns=['A', 'B', 'C'])
df2

          A         B         C
c  1.187221  0.030246  1.190615
d  1.766080 -0.686804  1.149836
e -0.184424  2.312595 -0.765716
f -1.573984  0.355354 -2.058031
g  0.041023 -1.280107  0.278857
h -0.448080 -0.254745  1.242555
i -0.781409 -0.652909  0.196122

In [48]:
df1+df2

          A         B         C   D
a       NaN       NaN       NaN NaN
b       NaN       NaN       NaN NaN
c  3.862738 -1.776183  1.662088 NaN
d  2.787990 -0.604606  1.050113 NaN
e -0.455735  2.487907 -0.321446 NaN
f -1.585393  0.049982 -1.320519 NaN
g  1.020513 -0.479192 -0.560170 NaN
h -1.174255 -0.736117 -1.379913 NaN
i -3.337079 -1.144675  0.424999 NaN
j       NaN       NaN       NaN NaN

In [49]:
df1- df1.iloc[0]

          A         B         C         D
a  0.000000  0.000000  0.000000  0.000000
b  0.825698  1.439794  0.004098 -0.397025
c  2.650294 -0.760984  0.889246  0.047966
d  0.996687  1.127641  0.318051 -2.141357
e -0.296534  1.220755  0.862043  0.557057
f -0.036632  0.740072  1.155285 -1.881316
g  0.954266  1.846358 -0.421253 -2.247867
h -0.751398  0.564072 -2.204694 -1.431048
i -2.580893  0.553679  0.646650 -1.751278
j  0.185224  0.708402  1.096070  0.918354

# 使用numpy函数

In [50]:
df = pd.DataFrame(np.random.randn(10, 4), columns=['one', 'two', 'three', 'four'])
df

        one       two     three      four
0 -0.187557 -0.197274 -1.019984  0.388258
1  0.839656  1.476997  0.719181  1.545046
2 -0.405529  1.212363  0.248773  0.026924
3 -0.940333 -1.025381  0.336969  0.755469
4  0.144525 -0.012411 -0.482070  1.893578
5 -0.948299  0.694397  0.115759 -0.587998
6 -0.480368  1.089048  2.493533 -1.053460
7 -0.655343  0.602504  0.454453  0.803756
8 -0.755817  0.557875 -1.091183  0.608781
9 -0.626020  0.715124  1.247618 -0.437698

In [51]:
np.exp(df)

        one       two      three      four
0  0.828982  0.820966   0.360601  1.474410
1  2.315570  4.379776   2.052751  4.688188
2  0.666624  3.361418   1.282451  1.027289
3  0.390498  0.358660   1.400696  2.128609
4  1.155491  0.987665   0.617504  6.643094
5  0.387399  2.002501   1.122725  0.555438
6  0.618556  2.971442  12.103959  0.348729
7  0.519264  1.826688   1.575312  2.233916
8  0.469627  1.746955   0.335819  1.838189
9  0.534716  2.044441   3.482040  0.645521

In [52]:
df.values

array([[-0.18755673, -0.19727383, -1.01998371,  0.38825781],
       [ 0.83965579,  1.47699748,  0.71918094,  1.54504622],
       [-0.40552948,  1.21236294,  0.24877285,  0.02692372],
       [-0.94033305, -1.02538134,  0.33696916,  0.75546875],
       [ 0.14452519, -0.0124115 , -0.48207009,  1.89357775],
       [-0.94829938,  0.69439676,  0.11575862, -0.58799799],
       [-0.48036825,  1.08904751,  2.49353258, -1.05345986],
       [-0.65534349,  0.60250439,  0.45445321,  0.80375603],
       [-0.75581723,  0.55787452, -1.09118272,  0.6087808 ],
       [-0.62601975,  0.71512426,  1.24761823, -0.43769757]])

In [53]:
np.asarray(df) == df.values

array([[ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True],
       [ True,  True,  True,  True]])

In [54]:
print(type(np.asarray(df)))
print(type(df.values))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [55]:
np.asarray(df) == df

    one   two  three  four
0  True  True   True  True
1  True  True   True  True
2  True  True   True  True
3  True  True   True  True
4  True  True   True  True
5  True  True   True  True
6  True  True   True  True
7  True  True   True  True
8  True  True   True  True
9  True  True   True  True

In [56]:
df.one
print(type(df.one))

<class 'pandas.core.series.Series'>

# Panel（已移除）
三维带标签的数组。实际上，Pandas 的名称由来就是由 Panel 演进的，即 pan(el)-da(ta)-s。Panel 比较少用，但依然是最重要的基础数据结构之一。

* items: 坐标轴 0，索引对应的元素是一个 DataFrame
* major_axis: 坐标轴 1, DataFrame 里的行标签
* minor_axis: 坐标轴 2, DataFrame 里的列标签

In [57]:
data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)),
        'Item2' : pd.DataFrame(np.random.randn(4, 2))}
data

{'Item1':           0         1         2
 0 -0.238616 -0.929232  1.021262
 1  1.402642  0.514837 -0.356546
 2  2.133046  0.080600 -1.253659
 3  0.753965  0.851323 -0.960841,
 'Item2':           0         1
 0 -0.762238 -1.217875
 1  1.822522 -1.027137
 2 -0.983389 -1.459650
 3 -0.056314  0.244090}

In [58]:
pn = pd.Panel(data)
pn

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  """Entry point for launching an IPython kernel.

TypeError: Panel() takes no arguments