In [184]:
import pandas as pd
import numpy as np

# 重新索引
# Series

In [185]:
s = pd.Series([1,2,3,4,5],index=list('acefh'))
s

a    1
c    2
e    3
f    4
h    5
dtype: int64

In [186]:
s.reindex(list('abdfd'))

a    1.0
b    NaN
d    NaN
f    4.0
d    NaN
dtype: float64

In [187]:
s.reindex(list('abcdadtt'),fill_value=0)

a    1
b    0
c    2
d    0
a    1
d    0
t    0
t    0
dtype: int64

In [188]:
# 填充前面值
s.reindex(list('dagadgz'),method='ffill')

d    2
a    1
g    4
a    1
d    2
g    4
z    5
dtype: int64

# DataFrame

In [189]:
df = pd.DataFrame(np.random.randn(4, 6), index=list('ADFH'), columns=['one', 'two', 'three', 'four', 'five', 'six'])
df

        one       two     three      four      five       six
A  2.298737  0.996223  0.518738  0.912547 -1.275348  1.675784
D -0.341701 -0.134288  1.244899 -0.987263 -0.929224  0.446764
F -0.055741 -0.291904 -0.487521  0.707860 -0.360541  0.246118
H -0.900578 -0.013763 -0.370494 -0.856533  2.024365  1.252995

In [190]:
df2 = df.reindex(index=list('AVKDKRIEL'))
df2

        one       two     three      four      five       six
A  2.298737  0.996223  0.518738  0.912547 -1.275348  1.675784
V       NaN       NaN       NaN       NaN       NaN       NaN
K       NaN       NaN       NaN       NaN       NaN       NaN
D -0.341701 -0.134288  1.244899 -0.987263 -0.929224  0.446764
K       NaN       NaN       NaN       NaN       NaN       NaN
R       NaN       NaN       NaN       NaN       NaN       NaN
I       NaN       NaN       NaN       NaN       NaN       NaN
E       NaN       NaN       NaN       NaN       NaN       NaN
L       NaN       NaN       NaN       NaN       NaN       NaN

In [191]:
df.loc['A']['one'] = 100
df

          one       two     three      four      five       six
A  100.000000  0.996223  0.518738  0.912547 -1.275348  1.675784
D   -0.341701 -0.134288  1.244899 -0.987263 -0.929224  0.446764
F   -0.055741 -0.291904 -0.487521  0.707860 -0.360541  0.246118
H   -0.900578 -0.013763 -0.370494 -0.856533  2.024365  1.252995

In [192]:
df.reindex(columns=['one','three','five'])

          one     three      five
A  100.000000  0.518738 -1.275348
D   -0.341701  1.244899 -0.929224
F   -0.055741 -0.487521 -0.360541
H   -0.900578 -0.370494  2.024365

In [193]:
df.reindex(columns=['one','three','five'],fill_value=10)

          one     three      five
A  100.000000  0.518738 -1.275348
D   -0.341701  1.244899 -0.929224
F   -0.055741 -0.487521 -0.360541
H   -0.900578 -0.370494  2.024365

In [194]:
df.reindex(index=list('ABCDEFGH'),method='ffill')

          one       two     three      four      five       six
A  100.000000  0.996223  0.518738  0.912547 -1.275348  1.675784
B  100.000000  0.996223  0.518738  0.912547 -1.275348  1.675784
C  100.000000  0.996223  0.518738  0.912547 -1.275348  1.675784
D   -0.341701 -0.134288  1.244899 -0.987263 -0.929224  0.446764
E   -0.341701 -0.134288  1.244899 -0.987263 -0.929224  0.446764
F   -0.055741 -0.291904 -0.487521  0.707860 -0.360541  0.246118
G   -0.055741 -0.291904 -0.487521  0.707860 -0.360541  0.246118
H   -0.900578 -0.013763 -0.370494 -0.856533  2.024365  1.252995

# 丢弃部分数据

In [195]:
df = pd.DataFrame(np.random.randn(4, 6), index=list('ABCD'), columns=['one', 'two', 'three', 'four', 'five', 'six'])
df

        one       two     three      four      five       six
A -1.194854 -0.790959 -0.487299  0.087845  1.088583 -0.375697
B -1.373649 -2.993477 -0.750654 -0.956462 -0.323734 -0.884428
C -1.937507 -0.181721 -0.007539 -0.584210  0.972386  0.511488
D  1.316506 -1.002343  0.480317  0.698780  0.370597 -0.767786

In [196]:
df.drop('A')

        one       two     three      four      five       six
B -1.373649 -2.993477 -0.750654 -0.956462 -0.323734 -0.884428
C -1.937507 -0.181721 -0.007539 -0.584210  0.972386  0.511488
D  1.316506 -1.002343  0.480317  0.698780  0.370597 -0.767786

In [197]:
df2 = df.drop(['two','four'],axis=1)
df2

        one     three      five       six
A -1.194854 -0.487299  1.088583 -0.375697
B -1.373649 -0.750654 -0.323734 -0.884428
C -1.937507 -0.007539  0.972386  0.511488
D  1.316506  0.480317  0.370597 -0.767786

In [198]:
# 数据拷贝
df.iloc[0,0] = 100
df

          one       two     three      four      five       six
A  100.000000 -0.790959 -0.487299  0.087845  1.088583 -0.375697
B   -1.373649 -2.993477 -0.750654 -0.956462 -0.323734 -0.884428
C   -1.937507 -0.181721 -0.007539 -0.584210  0.972386  0.511488
D    1.316506 -1.002343  0.480317  0.698780  0.370597 -0.767786

# 广播运算

In [199]:
df = pd.DataFrame(np.arange(12).reshape(4,3),index=['one','two','three','four'],columns=list('ABC'))
df

       A   B   C
one    0   1   2
two    3   4   5
three  6   7   8
four   9  10  11

In [200]:
df.loc['one']

A    0
B    1
C    2
Name: one, dtype: int64

In [201]:
df - df.loc['one']

       A  B  C
one    0  0  0
two    3  3  3
three  6  6  6
four   9  9  9

# 函数应用
* apply:将数据按黄或列进行计算
* applymap:将数据按元素为进行计算

In [202]:
df = pd.DataFrame(np.arange(12).reshape(4, 3), index=['one', 'two', 'three', 'four'], columns=list('ABC'))
df

       A   B   C
one    0   1   2
two    3   4   5
three  6   7   8
four   9  10  11

In [203]:
# 每一列作为一个Series传递给lambda函数
df.apply(lambda x: x.max() - x.min())

A    9
B    9
C    9
dtype: int64

In [204]:
# 返回多个值组成的 Series
df.apply(lambda x: x.max() - x.min(),axis=1)

one      2
two      2
three    2
four     2
dtype: int64

In [205]:
def min_max(x):
    return pd.Series([x.min(),x.max()])
df.apply(min_max,axis=1)

       0   1
one    0   2
two    3   5
three  6   8
four   9  11

In [206]:
df = pd.DataFrame(np.random.randn(4,3),index=['one', 'two', 'three', 'four'],columns=list('ABC'))
df

              A         B         C
one    1.082020 -0.288860 -0.816928
two   -0.208298  1.617653 -2.334034
three  0.916761  0.477267 -1.285996
four  -0.100673 -0.882241 -0.573102

In [207]:
# formater = '{0:.02f}'.format
formaters = lambda x: '%.03f' % x
df.applymap(formaters)

            A       B       C
one     1.082  -0.289  -0.817
two    -0.208   1.618  -2.334
three   0.917   0.477  -1.286
four   -0.101  -0.882  -0.573

# 排序和排名

In [208]:
df = pd.DataFrame(np.random.randint(1, 10, (4, 3)), index=list('ABCD'), columns=['one', 'two', 'three'])
df

   one  two  three
A    5    8      5
B    5    2      8
C    4    1      8
D    2    4      2

In [209]:
df.sort_values(by='one')

   one  two  three
D    2    4      2
C    4    1      8
A    5    8      5
B    5    2      8

In [210]:
s = pd.Series([3,4,5,6,7])
s

0    3
1    4
2    5
3    6
4    7
dtype: int64

In [211]:
s.rank()

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [212]:
# * average: average rank of the group
# * min: lowest rank in the group
# * max: highest rank in the group
# * first: ranks assigned in order they appear in the array
# * dense: like 'min', but rank always increases by 1 between groups.
s.rank(method='first',ascending=False)

0    5.0
1    4.0
2    3.0
3    2.0
4    1.0
dtype: float64

# 数据唯一性及成员资格
适用于 Series

In [213]:
s = pd.Series(list('abbcdabacad'))
s

0     a
1     b
2     b
3     c
4     d
5     a
6     b
7     a
8     c
9     a
10    d
dtype: object

In [214]:
s.unique()

array(['a', 'b', 'c', 'd'], dtype=object)

In [215]:
s.value_counts()

a    4
b    3
c    2
d    2
dtype: int64

In [216]:
s.isin(['a','b','c'])

0      True
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8      True
9      True
10    False
dtype: bool

# 索引

* 行索引
* 列索引
* 索引的分类
* 重复索引的处理

In [217]:
s = pd.Series(np.random.rand(5), index=list('abcde'))
s

a    0.469803
b    0.082507
c    0.611824
d    0.694269
e    0.042285
dtype: float64

In [218]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [219]:
s.index.name = 'alpha'
s

alpha
a    0.469803
b    0.082507
c    0.611824
d    0.694269
e    0.042285
dtype: float64

In [220]:
df = pd.DataFrame(np.random.randn(4, 3), columns=['one', 'two', 'three'])
df

        one       two     three
0  0.825524  0.393652  1.008053
1 -2.014075  0.154867  0.413065
2  0.960803  0.096643  0.429776
3  2.106635  2.426568 -1.093626

In [221]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [222]:
df.columns

Index(['one', 'two', 'three'], dtype='object')

In [223]:
pd.*Index?

# 重复索引

In [224]:
s = pd.Series(np.arange(6),index=list('abcbda'))
s

a    0
b    1
c    2
b    3
d    4
a    5
dtype: int64

In [225]:
s['a']

a    0
a    5
dtype: int64

In [226]:
s['c']

2

In [227]:
s.index.is_unique

False

In [228]:
s.index.unique()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [229]:
s.groupby(s.index).sum()

a    5
b    4
c    2
d    4
dtype: int64

### 层次化索引

可以使数据在一个轴上有多个索引级别。即可以用二维的数据表达更高维度的数据，使数据组织方式更清晰。它使用 pd.MultiIndex 类来表示。

#### 层次化索引有什么作用？

比如我们在分析股票数据，我们的一级行索引可以是日期；二级行索引可以是股票代码，列索引可以是股票的交易量，开盘价，收盘价等等。这样我们就可以把多个股票放在同一个时间维度下进行考察和分析。

### Series 多层索引

In [230]:
a = [['a', 'a', 'a', 'b', 'b', 'c', 'c'],[1, 2, 3, 1, 2, 2, 3]]
tuples = list(zip(*a))
tuples

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('c', 2), ('c', 3)]

In [231]:
index = pd.MultiIndex.from_tuples(tuples,names=['first','second'])
index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 2),
            ('c', 3)],
           names=['first', 'second'])

In [232]:
s = pd.Series(np.random.randn(7),index=index)
s

first  second
a      1         0.756600
       2         0.312205
       3         1.363900
b      1         1.040672
       2        -0.256040
c      2         0.168239
       3        -0.431687
dtype: float64

In [233]:
s.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 2),
            ('c', 3)],
           names=['first', 'second'])

In [234]:
s.index.levels[0]
s.index.levels[1]

Int64Index([1, 2, 3], dtype='int64', name='second')

In [235]:
s['b']

second
1    1.040672
2   -0.256040
dtype: float64

In [236]:
s['b':'c']

first  second
b      1         1.040672
       2        -0.256040
c      2         0.168239
       3        -0.431687
dtype: float64

In [237]:
s[['b','a']]

first  second
a      1         0.756600
       2         0.312205
       3         1.363900
b      1         1.040672
       2        -0.256040
dtype: float64

In [238]:
s['b',1]

1.0406718824940178

In [239]:
s[:,2]

first
a    0.312205
b   -0.256040
c    0.168239
dtype: float64

### DataFrame 多层索引

In [240]:
df = pd.DataFrame(np.random.randint(1,10,(4,3)),index=[['a', 'a', 'b', 'b'],[1, 2, 1, 2]],
                  columns=[['one', 'one', 'two'],['blue', 'red', 'blue']])
df.index.names = ['row-1','row-2']
df.columns.names = ['col-1','col-2']
df

col-1        one      two
col-2       blue red blue
row-1 row-2
a     1        2   2    8
      2        7   9    6
b     1        3   9    8
      2        2   5    9

In [241]:
df.loc['a']

col-1  one      two
col-2 blue red blue
row-2
1        2   2    8
2        7   9    6

In [242]:
type(df.loc['a'])

pandas.core.frame.DataFrame

In [243]:
df.loc['a',1]

col-1  col-2
one    blue     2
       red      2
two    blue     8
Name: (a, 1), dtype: int64

In [244]:
type(df.loc['a',1])

pandas.core.series.Series

In [245]:
df.loc['a',1].index

MultiIndex([('one', 'blue'),
            ('one',  'red'),
            ('two', 'blue')],
           names=['col-1', 'col-2'])

### 索引交换及排序

In [246]:
df

col-1        one      two
col-2       blue red blue
row-1 row-2
a     1        2   2    8
      2        7   9    6
b     1        3   9    8
      2        2   5    9

In [247]:
df2 = df.swaplevel('row-1','row-2')
df2

col-1        one      two
col-2       blue red blue
row-2 row-1
1     a        2   2    8
2     a        7   9    6
1     b        3   9    8
2     b        2   5    9

In [248]:
# old:df2.sortlevel(0)
df2.sort_index(0)

col-1        one      two
col-2       blue red blue
row-2 row-1
1     a        2   2    8
      b        3   9    8
2     a        7   9    6
      b        2   5    9

### 按照索引级别进行统计

In [249]:
df

col-1        one      two
col-2       blue red blue
row-1 row-2
a     1        2   2    8
      2        7   9    6
b     1        3   9    8
      2        2   5    9

In [250]:
df.sum(level=0)

col-1  one      two
col-2 blue red blue
row-1
a        9  11   14
b        5  14   17

In [251]:
df.sum(level=1)

col-1  one      two
col-2 blue red blue
row-2
1        5  11   16
2        9  14   15

### 索引与列的转换

In [252]:
df = pd.DataFrame({
        'a': range(7),
        'b': range(7, 0, -1),
        'c': ['one', 'one', 'one', 'two', 'two', 'two', 'two'],
        'd': [0, 1, 2, 0, 1, 2, 3]
    })
df

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [253]:
df.set_index('c')

     a  b  d
c
one  0  7  0
one  1  6  1
one  2  5  2
two  3  4  0
two  4  3  1
two  5  2  2
two  6  1  3

In [254]:
df2 = df.set_index(['c','d'])
df2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [255]:
df3 = df2.reset_index().sort_index('columns')
df3

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [256]:
df3 == df

      a     b     c     d
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True
4  True  True  True  True
5  True  True  True  True
6  True  True  True  True

In [257]:
pd.IndexSlice