In [2]:
# coding:utf-8
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
dates = pd.date_range('20100101', periods=6)
type(dates)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2010-01-01 -1.566345  1.383035  1.382587 -1.997936
2010-01-02 -1.338479 -0.547220 -0.806314  0.784684
2010-01-03  0.105139 -1.270087 -1.494131  0.674953
2010-01-04  0.501927  2.008476  1.546199  0.559860
2010-01-05 -0.153110 -0.233740  2.261399 -0.434355
2010-01-06 -0.386100 -0.458326  1.071128 -0.236456

In [6]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns)+['E'])
df1

                   A         B         C         D   E
2010-01-01 -1.566345  1.383035  1.382587 -1.997936 NaN
2010-01-02 -1.338479 -0.547220 -0.806314  0.784684 NaN
2010-01-03  0.105139 -1.270087 -1.494131  0.674953 NaN
2010-01-04  0.501927  2.008476  1.546199  0.559860 NaN

In [7]:
df1.loc[dates[1:3],'E'] = 2
df1

                   A         B         C         D    E
2010-01-01 -1.566345  1.383035  1.382587 -1.997936  NaN
2010-01-02 -1.338479 -0.547220 -0.806314  0.784684  2.0
2010-01-03  0.105139 -1.270087 -1.494131  0.674953  2.0
2010-01-04  0.501927  2.008476  1.546199  0.559860  NaN

In [8]:
df1.dropna()

                   A         B         C         D    E
2010-01-02 -1.338479 -0.547220 -0.806314  0.784684  2.0
2010-01-03  0.105139 -1.270087 -1.494131  0.674953  2.0

In [9]:
df1.fillna(value=5)

                   A         B         C         D    E
2010-01-01 -1.566345  1.383035  1.382587 -1.997936  5.0
2010-01-02 -1.338479 -0.547220 -0.806314  0.784684  2.0
2010-01-03  0.105139 -1.270087 -1.494131  0.674953  2.0
2010-01-04  0.501927  2.008476  1.546199  0.559860  5.0

In [11]:
pd.isnull(df1)

                A      B      C      D      E
2010-01-01  False  False  False  False   True
2010-01-02  False  False  False  False  False
2010-01-03  False  False  False  False  False
2010-01-04  False  False  False  False   True

In [15]:
df1.loc[dates[1:3], 'E'] = 2
df1

A   -0.574439
B    0.393551
C    0.157085
D    0.005390
E    2.000000
dtype: float64

In [16]:
df1.mean()
# NaN participate in calculations

A   -0.574439
B    0.393551
C    0.157085
D    0.005390
E    2.000000
dtype: float64

In [18]:
df1.mean(axis=1)
# axis contrast

2010-01-01   -0.199665
2010-01-02    0.018534
2010-01-03    0.003175
2010-01-04    1.154115
Freq: D, dtype: float64

In [17]:
# 累计
df1.cumsum()

                   A         B         C         D    E
2010-01-01 -1.566345  1.383035  1.382587 -1.997936  NaN
2010-01-02 -2.904824  0.835815  0.576274 -1.213253  2.0
2010-01-03 -2.799685 -0.434272 -0.917857 -0.538300  4.0
2010-01-04 -2.297758  1.574204  0.628342  0.021560  NaN

In [25]:
s = pd.Series([1,3,4,np.nan,6,9],index=dates).shift(2)
s
# shift() data is shifted upward or downward

2010-01-01    NaN
2010-01-02    NaN
2010-01-03    1.0
2010-01-04    3.0
2010-01-05    4.0
2010-01-06    NaN
Freq: D, dtype: float64

In [32]:
# subtraction
df.sub(s, axis='index')

                   A         B         C         D
2010-01-01       NaN       NaN       NaN       NaN
2010-01-02       NaN       NaN       NaN       NaN
2010-01-03 -0.894861 -2.270087 -2.494131 -0.325047
2010-01-04 -2.498073 -0.991524 -1.453801 -2.440140
2010-01-05 -4.153110 -4.233740 -1.738601 -4.434355
2010-01-06       NaN       NaN       NaN       NaN

In [34]:
# accumulate
# act on columns
df.apply(np.cumsum)

                   A         B         C         D
2010-01-01 -1.566345  1.383035  1.382587 -1.997936
2010-01-02 -2.904824  0.835815  0.576274 -1.213253
2010-01-03 -2.799685 -0.434272 -0.917857 -0.538300
2010-01-04 -2.297758  1.574204  0.628342  0.021560
2010-01-05 -2.450867  1.340464  2.889741 -0.412796
2010-01-06 -2.836967  0.882138  3.960869 -0.649252

In [35]:
df.apply(lambda x : x.max()-x.min())

A    2.068272
B    3.278563
C    3.755530
D    2.782620
dtype: float64

In [37]:
def _sum(x):
    print(type(x))
    return x.sum()
df.apply(_sum)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

A   -2.836967
B    0.882138
C    3.960869
D   -0.649252
dtype: float64

In [47]:
s = pd.Series(np.random.randint(10,20,size=20))
s

0     10
1     10
2     19
3     14
4     19
5     12
6     11
7     10
8     13
9     16
10    18
11    13
12    13
13    10
14    16
15    15
16    19
17    12
18    19
19    17
dtype: int64

In [48]:
s.value_counts()

19    4
10    4
13    3
16    2
12    2
18    1
17    1
15    1
14    1
11    1
dtype: int64

In [49]:
s.mode()

0    10
1    19
dtype: int64

In [3]:
df = pd.DataFrame(np.random.randn(10,4),columns=list('ABCD'))
df

          A         B         C         D
0  0.293722  0.941057  1.318273 -0.611039
1 -1.003853 -0.165594  1.329508  0.019507
2  0.550339  1.321888  0.962718 -0.662366
3 -0.026428  1.476260 -0.833723 -1.982850
4  0.190968  1.045765  0.721781 -1.604059
5 -0.237403  1.013374  0.079837 -1.110158
6  0.269763  1.072155 -0.643350  0.722202
7  2.239495  0.106453  0.250099  0.475875
8 -0.627645  0.479200 -0.256033  1.543641
9  0.397674 -0.757901 -0.246991 -0.457452

In [55]:
df.iloc[1:3]
df.iloc[3:7]
df.iloc[7:]

          A         B         C         D
7  0.513568  1.119992  1.082130 -0.598657
8 -0.757952 -1.046412 -0.132164 -0.178228
9  1.203935 -0.024309  0.566863  0.121778

In [ ]:
df.iloc[:,[5,6,11]]

In [4]:
# df1 = pd.concat([df.iloc[:3],df.iloc[3:7],df.iloc[7:]],axis=1)
df1 = pd.concat([df.iloc[:3],df.iloc[3:7],df.iloc[7:]],axis=0)
df1

          A         B         C         D
0  0.293722  0.941057  1.318273 -0.611039
1 -1.003853 -0.165594  1.329508  0.019507
2  0.550339  1.321888  0.962718 -0.662366
3 -0.026428  1.476260 -0.833723 -1.982850
4  0.190968  1.045765  0.721781 -1.604059
5 -0.237403  1.013374  0.079837 -1.110158
6  0.269763  1.072155 -0.643350  0.722202
7  2.239495  0.106453  0.250099  0.475875
8 -0.627645  0.479200 -0.256033  1.543641
9  0.397674 -0.757901 -0.246991 -0.457452

In [5]:
df == df1

      A     B     C     D
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True
4  True  True  True  True
5  True  True  True  True
6  True  True  True  True
7  True  True  True  True
8  True  True  True  True
9  True  True  True  True

In [9]:
(df == df1).all()

A    True
B    True
C    True
D    True
dtype: bool

In [61]:
(df == df1).all().all()

True

In [86]:
left = pd.DataFrame({'key':['foo','foo1'], 'lval':[1,2]})
right = pd.DataFrame({'key':['foo','foo1'],'rval':[1,22]})

In [87]:
left

    key  lval
0   foo     1
1  foo1     2

In [88]:

right

    key  rval
0   foo     1
1  foo1    22

In [89]:
# select * from left inner join right on left.key = right.key;
pd.merge(left, right,on='key')

    key  lval  rval
0   foo     1     1
1  foo1     2    22

In [101]:
# s = pd.Series(np.random.randint(1,5,size=5),index=list('ABCDE'))
s = pd.Series(np.random.randint(1,5,size=4),index=list('ABCD'))

In [ ]:
ss = df.append(s[:],ignore_index=True)
ss

In [103]:
df.append(s,ignore_index=True)

           A         B         C         D
0   0.197251  0.572832 -0.035581 -0.694512
1  -2.744270  0.477255 -0.782073  0.162415
2  -0.109718  0.003444  0.041812 -0.549652
3  -0.638800 -1.413551  1.443593 -0.142349
4   0.243283 -0.817364 -0.369052 -0.196774
5  -0.461708 -0.648421  0.736560  1.327170
6  -1.880749  0.849611  1.293057  0.823361
7   0.513568  1.119992  1.082130 -0.598657
8  -0.757952 -1.046412 -0.132164 -0.178228
9   1.203935 -0.024309  0.566863  0.121778
10  2.000000  1.000000  2.000000  2.000000

In [121]:
df = pd.DataFrame({'A':['foo','boo','foo','ddd'],
                   'B':['d','df','g','d'],
                   'C':['one','two','three','four'],
                   'D':np.random.randn(4)})
df

     A   B      C         D
0  foo   d    one  0.108766
1  boo  df    two -0.323823
2  foo   g  three -0.333776
3  ddd   d   four  0.721252

In [122]:
d = df.groupby('A')
for i in d:
    print(i)

('boo',      A   B    C         D
1  boo  df  two -0.323823)
('ddd',      A  B     C         D
3  ddd  d  four  0.721252)
('foo',      A  B      C         D
0  foo  d    one  0.108766
2  foo  g  three -0.333776)

In [123]:
df.groupby('A').sum()

            D
A
boo -0.323823
ddd  0.721252
foo -0.225010

In [126]:
df.groupby(['A','B']).sum()

               D
A   B
boo df -0.323823
ddd d   0.721252
foo d   0.108766
    g  -0.333776

In [ ]:
# 匹配特定值所在行

import pandas as pd
import numpy as np
n_rows = 6
dates = pd.date_range('20160301', periods=n_rows)
df = pd.DataFrame(np.random.randn(n_rows, 4), index=dates, columns=list('ABCD'))
df

In [ ]:
df2 = df.copy()
df2

In [ ]:
df.A =1
df

In [ ]:
df2

In [ ]:
df2.loc[pd.Timestamp('2016-03-08'),:] = 1
df2

In [ ]:
df2.A[1]

In [ ]:
df.A.isin([1])

In [ ]:
df[~df.A.isin([1])]

In [2]:
# 删除\选取含有特定数值的行或列
a=np.array([[1,2,3],[4,5,6],[7,8,9]])
df1=pd.DataFrame(a,index=['row0','row1','row2'],columns=list('ABC'))
df2=df1.copy()
df2

      A  B  C
row0  1  2  3
row1  4  5  6
row2  7  8  9

6

In [14]:
# 删除某行
nowcor = df1[~df1['A'].isin([7])]
nowcor

      A  B  C
row0  1  2  3
row1  4  5  6

In [24]:
# 删除/选取某行含有特殊数值的列
cols = [x for i,x in enumerate(df2.columns) if df2.iloc[0,i] == 3]
df2 = df2.drop(cols,axis=1)
df2

      A  B
row0  1  2
row1  4  5
row2  7  8

In [2]:
df1 = pd.DataFrame(
    [
        [np.nan, 2, np.nan, 0],
        [3, 4, np.nan, 1],
        [np.nan, np.nan, np.nan, 5],
        [np.nan, 3, np.nan, 4]
    ],columns=list('ABCD'))
df2=df1.copy()
df2

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

In [3]:
df1['A'] = df1['A'].fillna('null')
df1

      A    B   C  D
0  null  2.0 NaN  0
1     3  4.0 NaN  1
2  null  NaN NaN  5
3  null  3.0 NaN  4

In [4]:
# 删除某列空值的行
df1 = df1[~df1['A'].isin(['null'])]
df1

   A    B   C  D
1  3  4.0 NaN  1

In [7]:
df2[0:1] = df2[0:1].fillna('null')
cols = [x for i,x in enumerate(df2.columns) if df2.iloc[0,i]=='null']
df2 = df2.drop(cols,axis=1)
df2

     B  D
0  2.0  0
1  4.0  1
2  NaN  5
3  3.0  4

In [8]:
# 索引修改 rename map
# inplace=True 直接替换原df
# https://blog.csdn.net/missyougoon/article/details/83780845?utm_medium=distribute.pc_relevant.none-task-blog-BlogCommendFromMachineLearnPai2-11.nonecase&depth_1-utm_source=distribute.pc_relevant.none-task-blog-BlogCommendFromMachineLearnPai2-11.nonecase
df1 = df.DataFrame(np.arange(9).reshape(3, 3), index = ['bj', 'sh', 'gz'], columns=['a', 'b', 'c'])

def zy(x):
    return str.upper(x)
df1.index = df1.index.map(lambda x : str.upper(x))
# df1.index.map(str.upper)
# df1.index.map(zy)

df2 = df1.rename(index=str.lower, columns=str.upper)

NameError: name 'df' is not defined

In [5]:
# 换列的类型

sheet = pd.read_excel('/Users/joey/Documents/PycharmProjects/mywork/data_analysis/7_out.xlsx',skiprows=None,header=0,converters={'每日超过标准工时（小时）':int})
sheet.dtypes

管理中心            object
每日超过标准工时（小时）     int64
dtype: object

In [4]:
#用众数填充空值
df.fillna(df.mode().iloc[0])

DatetimeIndex(['2016-03-01', '2016-03-02', '2016-03-03'], dtype='datetime64[ns]', freq='D')

In [20]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                    'B' : ['A', 'B', 'C'] * 4,
                    'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                    'D' : np.random.randn(12),
                    'E' : np.random.randn(12)})
df

        A  B    C         D         E
0     one  A  foo -0.017779 -2.148072
1     one  B  foo  1.315011  1.291816
2     two  C  foo  0.943723  1.049665
3   three  A  bar  0.153763 -2.135983
4     one  B  bar  2.064608  0.098936
5     one  C  bar  0.879115 -0.553884
6     two  A  foo  1.514615 -2.054336
7   three  B  foo  0.071792  0.264548
8     one  C  foo  1.240494  0.969683
9     one  A  bar -1.260889 -0.516243
10    two  B  bar -1.079432  0.634370
11  three  C  bar -0.057426 -0.260226

In [21]:
# 当透视表的值不唯一，求mean()
pd.pivot_table(df, values=['E'], index=['A'], columns=['C'])
(-2.148072+1.291816+0.969683)/3

              E
C           bar       foo
A
one   -0.323730  0.037809
three -1.198104  0.264548
two    0.634370 -0.502335

In [26]:
rng = pd.date_range('20160301', periods=5, freq='M')
rng

DatetimeIndex(['2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30',
               '2016-07-31'],
              dtype='datetime64[ns]', freq='M')

In [35]:
# 时间转化
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts.index

DatetimeIndex(['2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30',
               '2016-07-31'],
              dtype='datetime64[ns]', freq='M')

In [32]:
ps = ts.to_period()
ps.index

PeriodIndex(['2016-03', '2016-04', '2016-05', '2016-06', '2016-07'], dtype='period[M]', freq='M')

In [34]:
ps.to_timestamp()
ps.index

PeriodIndex(['2016-03', '2016-04', '2016-05', '2016-06', '2016-07'], dtype='period[M]', freq='M')

In [36]:
# 时间运算
pd.Timestamp('20100301') + pd.Timestamp('20100301')
pd.Timestamp('20100301') - pd.Timestamp('20100301')
pd.Timestamp('20100301') - pd.Timedelta(days=5)

AttributeError: 'DatetimeIndex' object has no attribute 'to_timestamp'

In [1]:
# 提取时间
data['update_time'].dt.date

NameError: name 'data' is not defined

In [ ]:
# 时间转换

In [ ]:
data = pd.read_csv('/Users/joey/Desktop/superset csv/DXYArea_china.csv')
data.head()

In [ ]:
data['updateTime'].dtypes

In [ ]:
data['updateTime'] = pd.to_datetime(data['updateTime'],yearfirst=True).dt.date
data['updateTime'].head()

In [ ]:
data['updateTime'] = pd.to_datetime(data['updateTime'])
data['updateTime'].head()

In [ ]:
newdata = data.set_index(keys=['updateTime'])
newdata.head()

In [ ]:
newdata.index

In [ ]:
period_data = newdata.to_period(freq='D')
period_data.head()

In [ ]:
period_data.index

In [ ]:
newdata.index.to_period(freq='m')

In [ ]:
period_data.resample('D')

In [ ]:
a = period_data.to_timestamp()
a.head()

In [ ]:
a.index

In [ ]:
a.index.values

In [ ]:
a.index[0]

In [ ]:
a = pd.to_datetime(data['updateTime'])
a.head()

In [ ]:
b = pd.DataFrame(a)
b.head()

In [ ]:
b.set_index(b.updateTime).to_period('D')

# ----------